{{page-title "MultiWallet"}}


<div class="container">
<h1>
MultiWallet
</h1>
<ul class="top-menu">
	<li>
		<a onclick={{action "logout"}}>Logout</a>
	</li>
</ul>
<hr/>
<ul class="menu">
<li><LinkTo @route="dashboard">Dashboard</LinkTo></li>
<li><LinkTo @route="groups" @query={{hash page=undefined limit=undefined}}>Groups</LinkTo></li>
<li><LinkTo @route="addresses">Addresses</LinkTo></li>
</ul>
<div class="content">
{{ outlet }}
</div>
<br/>
<hr/>
Version: 0.0.1
</div>
